<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://113.128.161.102:3306/vbsolutions" />
		<property name="username" value="app_user" />
		<property name="password" value="@ppUser" />
	</bean>

	<bean id="customerDAO" class="com.verizon.vbs.products.dao.impl.CustomerDAOImpl" />

	<bean id="smartMeterService" class="com.verizon.vbs.products.rest.SmartMeterService">
		<property name="customerDAO">
			<ref bean="customerDAO" />
		</property>
	</bean>

</beans>